
<div class="container">
  <h1>Inspiration of the day <br/><%= @inspiration.content %></h1>
  
  
  <h2>
    Sign in with Twitter
    <form action='/request'  method='get' >
      <input type='submit' value='Sign in with twitter' />
    </form>
  </h2>


</div>
