<h2> Hey there here is your daily inspiration email </h2>
<h1><%=inspiration.content%></h1>

Post a photo about how this inspires you. Make it funny/clever/thoughtful.
<p>Check out all the other stuff people are posting in this mural.</p>
<div><a href="0.0.0.0:9292/inspirations/<%=inspiration.id%>"</div>

