  <h1>Inspiration of the day <%= @inspiration.content %></h1>

  <form action='/inspirations/<%=@inspiration.id%>/photos' method='post' enctype='multipart/form-data'/>
    <input type="file" name='image' id='photo'/>
    
    <input type='submit' value='Submit photo' />
  </form>

<%= erb :voting_wall, :locals => {:photos => @photos} %>